@import 'vendor/bootstrap/bootstrap.less';
@import 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300';

// colors
@textBlue: #39c;
@textGray: #666666;
@textGrayDark: #444444;

.branding {
	margin-top: 70px;

	h1 { font-size: 48px; color: @textGray; }
	h4 { font-size: 24px; font-weight: normal; font-family: 'Source Sans Pro'; color: @textGrayDark; }

	.blue { color: @textBlue; }
}

.success-note {
	margin-top: 30px;
	font-family: 'Source Sans Pro';	
	.branding;
}

.login-form {
	margin-top: 30px;
	font-family: 'Source Sans Pro';	
}

.form {
	input  { margin-top: 15px; margin-right: 10px; font-size: 16px; }
	textarea  { margin-top: 15px; margin-right: 10px; font-size: 16px; }
	button { margin-top: 25px; margin-left: 20px; font-weight: bold; }
	a { margin-top: 25px; margin-left: 20px; font-weight: bold; }
	label { margin-top: 5px; }

	.alert { margin-bottom: 0; margin-top: 10px; }
	.image { margin-top: 25px; }
}

.expense-view { .form; }
.expense-table { 
	button { margin-top: 0; margin-left: 0;}
}