doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='/style/app.main.css')
		script(type="text/javascript", src='/js/vendor/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/js/vendor/bootstrap.min.js')
		script(type="text/javascript", src='/js/vendor/angular.min.js')
		script(type="text/javascript", src='/js/index.js')
		
		title= 'Expense Tracker'
	body
		.container(ng-app="expense")
			.row
				.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6
					.form.login-form(ng-controller='expenseLoginController')
						.row
							.col-xs-12
								.branding
									h1 Expense 
										span.blue Tracker
									h4 Know your finances. Save money. Worry less.
						.row(ng-show="errors.length > 0")
							.col-xs-12
								.alert.alert-danger(role="alert") 
									ul
										li(ng-repeat="error in errors") {{ error.message }} 

						.row
							.col-xs-12
								input.form-control(type="text", placeholder="Email/username", ng-model='username', ng-keypress="($event.which === 13) ? login() : 0")
								input.form-control(type="password", placeholder="Password", ng-model='userpass', ng-keypress="($event.which === 13) ? login() : 0")
						.row
							.col-xs-12
								label.pull-left
									input(type="checkbox", ng-model='remember') 
									| Remember me
								a.pull-right(href='/forgotPassword') Forgot your password?
						.row
							.col-xs-12
								button.btn.btn-success.pull-right(type="button", ng-click="login()") Login
								a.btn.btn-primary.pull-right(href="/register") Register
								