doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='/style/app.main.css')
		script(type="text/javascript", src='/js/vendor/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/js/vendor/bootstrap.min.js')
		script(type="text/javascript", src='/js/vendor/angular.min.js')
		script(type="text/javascript", src='/js/index.js')
		title= 'Expense Tracker | Report'
	body
		.container(ng-app="expense")
			.expense-view(ng-controller='expenseViewController')
				h1 Expenses 
				.row
					.col-xs-offset-1.col-xs-10
						table.table.table-hover
							thead
								tr
									th #
									th Comment
									th Description
									th Date
									th Time
									th Amount
							tbody
								tr(ng-repeat="item in expenses.expenses")
									td {{ $index+1 }}
									td {{ item.comment }}
									td {{ item.description }}
									td {{ item.date }}
									td {{ item.time }}
									td {{ item.amount }} 
				h3 Total amount: {{expenses.sum}}
				h3 Average amount: {{expenses.average}}