doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='/style/app.main.css')
		script(type="text/javascript", src='/js/vendor/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/js/vendor/bootstrap.min.js')
		script(type="text/javascript", src='/js/vendor/angular.min.js')
		script(type="text/javascript", src='/js/index.js')
		
		title= 'Expense Tracker'
	body
		.container(ng-app="expense")
			.row
				.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6(ng-controller='changePasswordController')
					.form.login-form(ng-show="!isSuccess")
						.row
							.col-xs-12
								.branding
									h1.blue Change password
									h4 To change your password please enter your new password and confirm it. Your new password must be between 6 and 30 characters.
						.row
							.col-xs-12
								hr
						.row(ng-show="errors.length > 0")
							.col-xs-12
								.alert.alert-danger(role="alert") 
									ul
										li(ng-repeat="error in errors") {{ error.message }} 	
						.row
							.col-xs-12
								input.form-control(type="password", placeholder="New password", ng-model='newPassword', ng-keypress="($event.which === 13) ? send() : 0")
							.col-xs-12
								input.form-control(type="password", placeholder="Confirm new password", ng-model='newPasswordConfirm', ng-keypress="($event.which === 13) ? send() : 0")
						.row
							.col-xs-2
								img.image(src='/images/ajax-loader.gif', ng-show='inProgress')
							.col-xs-10
								button.btn.btn-primary.pull-right(type="button", ng-click='send()') Change password
					.success-note(ng-show="isSuccess")
						.row
							.col-xs-12
								.branding
									h1.blue Password changed
									h4 Your password has been successfully changed. Please go to login page and try to login with your new password.
						.row
							.col-xs-12
								hr
						.row
							.col-xs-12
								a.btn.btn-primary.pull-right(href="/") Go to home page