doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='/style/app.main.css')
		script(type="text/javascript", src='/js/vendor/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/js/vendor/bootstrap.min.js')
		script(type="text/javascript", src='/js/vendor/angular.min.js')
		script(type="text/javascript", src='/js/index.js')
		
		title= 'Expense Tracker'
	body
		.container(ng-app="expense")
			.row
				.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6(ng-controller='fortgotPasswordController')
					.form.login-form(ng-show="!isSuccess")
						.row
							.col-xs-12
								.branding
									h1.blue Forgot password?
									h4 Please enter your email address and we will send you message with password reset link.
						.row
							.col-xs-12
								hr
						.row(ng-show="errors.length > 0")
							.col-xs-12
								.alert.alert-danger(role="alert") 
									ul
										li(ng-repeat="error in errors") {{ error.message }} 
						.row
							.col-xs-12
								input.form-control(type="text", placeholder="Email", ng-model='email', ng-keypress="($event.which === 13) ? send() : 0")
						.row
							.col-xs-2
								img.image(src='/images/ajax-loader.gif', ng-show='inProgress')
							.col-xs-10
								button.btn.btn-primary.pull-right(type="button", ng-click='send()', ng-class='{disabled: inProgress}') Send
					.success-note(ng-show="isSuccess")
						.row
							.col-xs-12
								.branding
									h1.blue Forgot password
									h4 We have sent you an email with password reset link. Thanks.
						.row
							.col-xs-12
								hr
						.row
							.col-xs-12
								a.btn.btn-primary.pull-right(href="/") Go to home page