doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='/style/app.main.css')
		script(type="text/javascript", src='/js/vendor/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/js/vendor/bootstrap.min.js')
		script(type="text/javascript", src='/js/vendor/angular.min.js')
		script(type="text/javascript", src='/js/index.js')
		title= 'Expense Tracker | Home'
	body
		.container(ng-app="expense")
			.expense-view(ng-controller='expenseViewController', data-ng-init="overview()")
				.row
					.col-xs-offset-1.col-xs-5
						h1 Expenses 
					.col-xs-5
						button.btn.btn-danger.pull-right(type="button", ng-click="logout()") Logout
				.row
					.col-xs-offset-1.col-xs-10
						.row
							.col-xs-12
								h2 Add expense
						.row
							.col-xs-12
								hr
						.row(ng-show="errors.length > 0")
							.col-xs-12
								.alert.alert-danger(role="alert") 
									ul
										li(ng-repeat="error in errors") {{ error.message }} 
						.row
							.col-xs-6
								input.form-control(type="text", placeholder="Expense amount", ng-model='amount' ng-hide = "hideButtonsAndInputs")
							.col-xs-6
								input.form-control(type="datetime-local", placeholder="Date and time", ng-model='date' ng-hide = "hideButtonsAndInputs")
						.row
							.col-xs-6
								textarea.form-control(type="text", placeholder="Expense description", ng-model='description' ng-hide = "hideButtonsAndInputs")
							.col-xs-6
								textarea.form-control(type="text", placeholder="Expense comment", ng-model='comment' ng-hide = "hideButtonsAndInputs")
						.row
							.col-xs-12
								button.btn.btn-success.pull-right(type="button", ng-click="create()" ng-hide = "hideButtonsAndInputs") Create
				.row
					.col-xs-offset-1.col-xs-10
						hr
				.row
					.col-xs-offset-1.col-xs-10.col-md-offset-6.col-md-5
						input.form-control(type="text", placeholder="Search", ng-model='searchText' ng-hide = "hideButtonsAndInputs")
				.row
					.col-xs-offset-1.col-xs-10
						hr
			
				.row
					.col-xs-offset-1.col-xs-10.expense-table
						table.table.table-hover
							thead
								tr
									th #
									th Comment
									th Description
									th Date
									th Time
									th Amount
							tbody
								tr(ng-repeat="item in expenses.expenses | filter:searchText")
									td {{ $index+1 }}
									td {{ item.comment }}
									td {{ item.description }}
									td {{ item.date }}
									td {{ item.time }}
									td {{ item.amount }} 
									td
										button.btn.btn-success.pull-right(type="button", ng-click="remove(item.id)" ng-hide = "hideButtonsAndInputs") Delete
									td
										button.btn.btn-success.pull-right(type="button", ng-click="getWeek(item.date)" ng-hide = "hideButtonsAndInputs") Week report
						h3(ng-hide = "showAmount") Total amount: {{expenses.sum}}
						h3(ng-hide = "showAmount") Average amount: {{expenses.average}}
						button.btn.btn-success(type="button", ng-click="overview()" ng-hide = "showAmount") Back to overview
							
			
