doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='/style/app.main.css')
		script(type="text/javascript", src='/js/vendor/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/js/vendor/bootstrap.min.js')
		script(type="text/javascript", src='/js/vendor/angular.min.js')
		script(type="text/javascript", src='/js/index.js')
		
		title= 'Expense Tracker'
	body
		.container(ng-app="expense")
			.row
				.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6
					.form.login-form(ng-controller='expenseRegisterController')
						.row
							.col-xs-12
								.branding
									h1 Expense 
										span.blue Tracker
									h4 Know your finances. Save money. Worry less.
						.row
							.col-xs-12
								hr
						.row
							.col-xs-12
								h2 Registration
						.row(ng-show="errors.length > 0")
							.col-xs-12
								.alert.alert-danger(role="alert") 
									ul
										li(ng-repeat="error in errors") {{ error.message }} 
						.row
							.col-xs-12
								input.form-control(type="text", placeholder="First name", ng-model='firstName')
								input.form-control(type="text", placeholder="Last name", ng-model='lastName')
								input.form-control(type="text", placeholder="Email", ng-model='email')
								input.form-control(type="text", placeholder="Username", ng-model='username')
								input.form-control(type="password", placeholder="Password", ng-model='userpass')
						.row
							.col-xs-12
								label
									input(type="checkbox", ng-model='agree') 
									| I agree 
						.row
							.col-xs-12
								button.btn.btn-primary.pull-right(type="button", ng-click='register()') Register
