doctype html
html
	head
		meta(charset='utf-8')

	body
		block body
		h2 Activate your glooky account

		p Hello #{user.firstName},

		p We have received an email activation request from you.

		p Please click on the link bellow to activate your glooky account

		a(href='#{link}') #{link}

		p Best regards,
		p glooky