doctype html
html
	head
		meta(charset='utf-8')
			
	body
		block body
			h2 Activate your ExpensesTracker racker account

			p
				| Congratulations
				| #{user.firstName}
				| , you have just successfully registered on ExpensesTracker platform

			p Please click on the link bellow to activate your ExpensesTracker account

			a(href='#{link}') #{link}

			p Best regards,
			p ExpensesTracker team