doctype html
html
	head
		meta(charset='utf-8')

	body
		block body
		h2 Glooky password changed 

		p Your glooky password has been succesfully changed according to your previous request.

		p Best regards,
		p glooky teamdoctype html