doctype html
html
	head
		meta(charset='utf-8')

	body
		block body
		h2 Glooky password change request 

		p We have received a password change request for your Glooky account

		p Please click on the link bellow to reset your password

		a(href='#{changePasswordLink}') #{changePasswordLink}

		p Best regards,
		p glooky team