doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='/style/app.main.css')
		script(type="text/javascript", src='/js/vendor/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/js/vendor/bootstrap.min.js')
		script(type="text/javascript", src='/js/vendor/angular.min.js')
		script(type="text/javascript", src='/js/index.js')
		
		title= 'Expense Tracker | Page not found'
	body
		.container(ng-app="expense")
			h1 Error 404: Page not found